body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin: 0;
}

/* .wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.container {
  height: 400px;
  display: flex;
  justify-content: start;
}

.card {
  width: 80px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  margin: 0 15px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.count {
  background: #222;
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin: 15px;
}

.card-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  width: 560px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.card-description p {
  color: #bbb;
  margin-bottom: 30px;
}

.card-description h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.author-details p {
  margin: 0;
}

.author {
  font-weight: bold;
  font-size: 0.9rem;
}

.date {
  font-size: 0.8rem;
}

.recipe-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.card-description img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

input[type="button"] {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fe5f55;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}

input[type="button"]:hover {
  background-color: #0a0908;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  width: 600px;
  transition: width 1s ease-in-out, transform 0.3s ease-in-out;
}

input[type="radio"]:checked + label:hover {
  transform: scale(1.03);
}

input[type="radio"]:checked + label .count {
  display: none;
}

input[type="radio"]:checked + label .card-description {
  opacity: 1 !important;
  transform: translate(0) !important;

  border-radius: 0 0 30px 30px;
  padding: 20px;

  /* glassmorphism effect */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  transition: all 1s ease-in-out 1s;
}

/* __________________________ images for each card __________________________ */

.card[for="c1"] {
  background: url("/assets/images/biryani.jpg") no-repeat center center / cover;
}
.card[for="c2"] {
  background: url("/assets/images/cajun-shrimp.jpg") no-repeat center center /
    cover;
}
.card[for="c3"] {
  background: url("/assets/images/yellow_Rice.jpg") no-repeat center center /
    cover;
}
.card[for="c4"] {
  background: url("/assets/images/kottu.jpg") no-repeat center center / cover;
}
.card[for="c5"] {
  background: url("/assets/images/garlic_naan.jpg") no-repeat center center /
    cover;
}
.card[for="c6"] {
  background: url("/assets/images/samosa.jpg") no-repeat center center / cover;
}
.card[for="c7"] {
  background: url("/assets/images/pork_belly.jpg") no-repeat center center /
    cover;
}
