/* place footer to the bottom */
.about-main {
  min-height: 73vh;
  display: flex;
  flex-direction: column;
}

/* paragraph */
.about-content p {
  color: #808080;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 30px 0 40px;
  width: 100%;
}

/* first letter in paragraph */
.about-content p::first-letter {
  font-size: 40px;
  color: rgb(254, 95, 85);
  margin-left: 30px;
}

/* image */
.about-img img {
  width: 20vw;
  min-width: 200px;
  border: 5px solid #808080;
  border-radius: 200px;
}

/* sided the image next to the paragraph  */
.about-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90vw;
  margin-top: 25px;
}

.about-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1b1a18;
}
