main {
  display: flex;
}

/* reduce content width & padding */
.recipe-content {
  width: 957px;
}

/* align the image & labels */
.recipe-container {
  display: flex;
  align-items: center;
}

/* sided recipe details */
.label-container {
  margin-left: 50px;
  gap: 0px;
  font-size: 15px;
}

/* space between label */
.label {
  margin-bottom: 10px;
}

/* label icons */
.label img {
  width: 20px;
  vertical-align: middle;
}

/* label icons */
.recipe-img {
  width: 215px;
  height: 285px;
}

.time-container {
  display: flex;
  gap: 50px;
  margin: 25px 0;
}

#first-label {
  margin-left: 25px;
}

.label span + div {
  color: #808080;
}

/* checkbox css */
input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  cursor: pointer;
  text-decoration: line-through;
  color: #808080;
  transition: text-decoration 0.2s ease-in-out;
}

/* bold text css */

/* images of instructions */
li + br + img {
  width: 360px;
  height: 320px;
}

/* h4 */
h4 {
  text-align: center;
}

/* h3 */
h3 {
  text-decoration: underline;
}

/* paragraph */
p {
  margin-left: 40px;
}

