/* body css */
body {
  font-family: sans-serif;
}

/* reduce content width & padding */
section {
  width: 1000px;
  padding-left: 50px;
}

/* align the image & labels */
.labels_sided {
  display: flex;
  align-items: center;
}

/* sided recipe details */
.sided_details {
  padding: 50px;
  font-size: 15px;
}

/* space between label */
.label_space {
  margin-bottom: 10px;
}

/* label icons */
div[class="label_space"] img {
  width: 20px;
  vertical-align: middle;
}

/* label icons */
.recipe_img {
  width: 215px;
  height: 285px;
}

/* checkbox css */
input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  cursor: pointer;
  text-decoration: line-through;
  color: #808080;
  transition: text-decoration 0.2s ease-in-out;
}

/* bold text css */
br + span {
  color: #808080;
  padding-left: 25px;
}

/* images of instructions */
li + br + img {
  width: 360px;
  height: 320px;
}

/* h4 */
h4 {
  text-align: center;
}

/* h3 */
h3 {
  text-decoration: underline;
}

/* paragraph */
p {
  margin-left: 40px;
}
