/* Main container */
.main-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  gap: 30px;
}

/* Contact container */
.contact-container {
  max-width: 950px;
  padding: 1rem;
}

/* Paragraph */
.contact-description {
  color: #808080;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px; /* Added space after the description */
}

/* First letter in paragraph */
.contact-description::first-letter {
  font-size: 2.5em;
  color: #fe5f55;
  margin-right: 5px;
}

.name-email-container {
  display: flex;
  gap: 30px;
  width: 97%;
}

.txt-input {
  width: 100%;
}

/* Text inputs & textarea */
#name,
#email,
textarea {
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #f5f8fa;
  font-size: 0.9rem;
  color: #808080;
}

textarea {
  resize: vertical;
}

/* Form button */
.submit-btn {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0; /* Increased vertical margin */
  border: none;
  background-color: #fe5f55;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #ff8f8f;
}

/* Heading */
.contact-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  color: #212121;
}

/* Special notice */
.note {
  font-weight: bold;
  font-style: italic;
  color: #1b1a18;
  font-size: 1rem;
}

/* Fieldset */
fieldset {
  border-radius: 15px;
  padding: 0 20px;
  /* width: 100%; */
}

/* Legend */
legend {
  margin: 0 20px;
  font-size: 1.2rem;
}

/* Checkbox */
#privacyPolicy {
  cursor: pointer;
  margin-right: 10px; /* Added space after checkbox */
}

/* Side content */
.contact-side-content {
  margin: 100px 0;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  width: 20vw;
  max-width: 300px;
}

/* Vertical line */
.vertical-hr {
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
  margin: 130px 0;
  height: 350px;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1b1a18;
  margin-bottom: 15px; /* Added space after sub-heading */
}

.sub-txt {
  color: #808080;
  font-size: 1rem;
  margin-bottom: 20px; /* Added space after sub-text */
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-media i {
  /* filter: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%); */
  color: #808080;
}

.social-media i:hover {
  color: #fe5f55;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
    gap: 30px; /* Reduced gap for smaller screens */
  }

  .contact-container {
    max-width: 100%;
  }

  .name-email-container {
    flex-direction: column;
  }

  .contact-side-content {
    width: 80%;
    margin: 0 auto;
  }

  .vertical-hr {
    height: 0;
    border: 2px solid #ccc;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto 10px;
  }

  #name,
  #email {
    width: 98%;
  }
}
