.main-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  gap: 30px;
}

.contact-container {
  max-width: 950px;
  padding: 1rem;
}

.contact-description {
  color: #808080;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.contact-description::first-letter {
  font-size: 2.5em;
  color: #fe5f55;
  margin-right: 5px;
}

.name-email-container {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.txt-input {
  position: relative;
  flex-grow: 0.5;
  width: 100%;
}

.txt-input #name,
.txt-input #email,
.txt-input textarea {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  background: transparent;
  color: #444;
  border: 2px solid #aaa;
  border-radius: 6px;
  outline-color: #ffa500;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  transition: border-color 0.3s ease-in-out;
}

.txt-input textarea {
  height: auto;
  min-height: 100px;
  resize: none;
  padding: 10px 15px;
}

.txt-input label {
  color: #444;
  font-size: 0.85rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 19px;
  padding: 0 5px;
  margin: 0;
  height: 16px;
  transition: all 0.3s ease-in-out;
}

.txt-input textarea + label {
  top: 10px;
}

.txt-input input:focus + label,
.txt-input input:not(:placeholder-shown) + label {
  top: 3px;
  font-size: 0.87rem;
  color: #fe5f55;
  background: #fff;
}

.txt-input textarea:focus + label,
.txt-input textarea:not(:placeholder-shown) + label {
  top: -7px;
  font-size: 0.87rem;
  color: #fe5f55;
  background: #fff;
}

#name,
#email,
textarea {
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #f5f8fa;
  font-size: 0.9rem;
  color: #808080;
}

textarea {
  resize: vertical;
}

.submit-btn {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  background-color: #fe5f55;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #ff8f8f;
}

.contact-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  color: #212121;
}

.note {
  font-weight: bold;
  font-style: italic;
  color: #1b1a18;
  font-size: 1rem;
}

fieldset {
  border-radius: 15px;
  padding: 0 20px;
}

legend {
  margin: 0 20px;
  font-size: 1.2rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#privacy-policy {
  cursor: pointer;
  margin-right: 10px;
}

.contact-side-content {
  margin: 100px 0;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 20vw;
  max-width: 300px;
}

.vertical-hr {
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
  margin: 130px 0;
  height: 310px;
}

.sub-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1b1a18;
  margin-bottom: 15px;
}

.sub-txt {
  color: #808080;
  font-size: 1rem;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-media i {
  color: #808080;
}

.social-media i:hover {
  color: #fe5f55;
}
