/* Main container */
.main-container {
  display: flex;
  justify-content: center;
}

/* Contact container */
.contact-container {
  width: 900px;
  padding: 1rem;
}

/* Paragraph */
.contact-description {
  color: #808080;
  font-size: 1rem;
  line-height: 1.5;
}

/* First letter in paragraph */
.contact-description::first-letter {
  font-size: 2.5em;
  color: #fe5f55;
  margin-right: 0.1em;
}

.name-email-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.txt-input {
  flex: 1;
  min-width: 200px;
}

/* Text inputs & textarea */
#name,
#email {
  width: 365px;
}

#name,
#email,
textarea {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #f5f8fa;
  font-size: 0.9rem;
  color: #808080;
}

textarea {
  width: 800px;
  resize: vertical;
}

/* Form button */
.submit-btn {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #fe5f55;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #ff8f8f;
}

/* Heading */
.contact-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.67rem;
  line-height: 1.2;
  color: #212121;
}

/* Special notice */
.note {
  font-weight: bold;
  font-style: italic;
  color: #1b1a18;
  font-size: 1rem;
}

/* Fieldset */
fieldset {
  border-radius: 15px;
  padding: 0 20px;
}

/* Legend */
legend {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
}

/* Checkbox */
#privacyPolicy {
  cursor: pointer;
}

/* Vertical line */
.vertical-hr {
  background-color: #ccc;
  margin: 100px 40px;
  height: 400px;
}

/* _______________________ side content ________________________ */
.side-content {
  width: 300px;
  margin: 150px 0;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* .side-content p {
  color: #808080;
} */

.sub-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1b1a18;
}

.sub-txt {
  color: #808080;
  font-size: 1rem;
}

.sub-txt::after {
  content: "\a\a";
  white-space: pre;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-media a {
  filter: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
}

.social-media a:hover {
  filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(3250%)
    hue-rotate(332deg) brightness(102%) contrast(101%);
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .main-container {
    flex-wrap: wrap;
  }

  .contact-container {
    width: 80vw;
  }

  .name-email-container {
    flex-direction: column;
  }

  #name,
  #email,
  textarea {
    width: 95%;
  }
}
