/* import custom font */
@font-face {
  font-family: "SkateSemiBold";
  src: url(/assets/fonts/skate-5.ttf);
}
/* align the navigation menu */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header hr {
  border: 1px solid #ccc;
  width: 90%;
  align-items: center;
}

/* hyperlink */
nav a {
  text-decoration: none;
  color: #1b1a18;
  font-size: 15px;
}

/* hyperlink hover */
a:hover {
  text-decoration: underline;
  color: #fe5f55;
  font-weight: bold;
}

/* icon space */
.icon-space {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* logo */
.logo {
  font-family: SkateSemiBold, sans-serif;
  font-size: 18px;
}

.logo::after {
  content: ".";
  color: #fe5f55;
  font-size: 30px;
}

/* search bar */
.search-bar {
  display: flex;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

/* search bar button */
.search-bar button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

/* icon */
.icon {
  width: 25px;
  vertical-align: middle;
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(48%) sepia(93%) saturate(3250%)
    hue-rotate(332deg) brightness(102%) contrast(101%);
}

/* navigation bar */
nav {
  display: flex;
}

/* navigation bar page links */
nav div {
  margin-right: 30px;
}

/* search input */
div input {
  border: none;
  margin-left: 18px;
  outline: none;
  font-size: 15px;
}

/* active page */
.active {
  color: #fe5f55;
  font-weight: bold;
}
