.card-container {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.card-title {
  font-size: 2rem;
  padding: 3vh;
  color: #212121;
}

.cards {
  display: flex;
  padding: 2vh 0;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  max-width: 90vw;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: #ecf0f1;
}

.card {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  flex: 0 0 100%;
  max-width: 600px;
  padding: 20px 20px 20px 25px;
  margin: 0 15px 15px;
  background-color: #fbe8d3;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  transform: scale(1.03);
}

.home-recipe-img {
  display: flex;
  align-items: center;
}

.home-recipe-img img {
  border-radius: 20px;
  width: 300px;
  height: auto;
}

.cards::-webkit-scrollbar {
  height: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #fe5f55;
  border-radius: 6px;
}

.cards::-webkit-scrollbar-track {
  background-color: #ffb9b9;
  border-radius: 6px;
  border: 3px solid #fff;
}

.recipe-content {
  margin-right: 20px;
}

.badge {
  background-color: #fe5f5550;
  color: #a0582e;
  padding: 8px 16px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
}

.recipe-title {
  font-size: 1.5rem;
  color: #222;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.recipe-description {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.recipe-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.info-badge {
  display: flex;
  align-items: center;
  background-color: #fe5f5550;
  padding: 10px 15px;
  border-radius: 50px;
  color: #333;
  font-size: 0.8rem;
}

.info-badge img {
  margin-right: 8px;
  font-size: 1rem;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #222;
}

.author-date {
  font-size: 0.75rem;
  color: #777;
}

.view-recipes-btn {
  background-color: #1b1a18;
  color: #fff;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.view-recipes-btn:hover {
  text-decoration: none;
  background-color: #333;
}

div[class="info-badge"] img {
  width: 25px;
  margin-right: 10px;
}

/* __________________________ sub-container __________________________ */
.sub-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 0;
}

.motivation-card,
.subscribe-card {
  display: flex;
  background-color: #fbe8d3;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: calc(50% - 10px);
  /* min-width: 250px; */
}

.subscribe-card {
  position: relative;
}

/* __________________________ card content __________________________ */
.motivation-content,
.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-right: 10px;
}

.motivation-title,
.subscribe-title {
  font-size: 1.5rem;
  color: #222;
  font-weight: 700;
  line-height: 1.3;
  margin: 15px 0;
  text-align: center;
}

.motivation-txt,
.subscribe-txt {
  color: #808080;
  font-size: 0.9rem;
  text-align: center;
}

/* __________________________ images __________________________ */
.motivation-img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.motivation-card img {
  width: 100%;
  /* max-width: 300px; */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.food-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.food-img img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}

#left-img {
  border-radius: 0 0 0 20px;
}

#right-img {
  border-radius: 0 0 20px 0;
}

/* _________________________ subscribe form _________________________ */
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 70px;
  width: 100%;
}

.subscribe-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  width: 50%;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  max-width: 100px;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  white-space: nowrap;
}

.subscribe-btn:hover {
  background-color: #333;
}

/* ___________________________ media queries ___________________________ */
@media screen and (max-width: 900px) {
  .sub-container {
    width: 98%;
    padding: 0;
    margin: 0 auto;
  }

  .motivation-card {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .motivation-content {
    padding: 20px;
  }

  .motivation-img {
    width: 40%;
    margin-top: 0;
  }

  .motivation-card img {
    max-width: 100%;
  }

  .subscribe-content {
    width: 90%;
  }

  .subscribe-form input,
  .subscribe-btn {
    width: 45%;
  }

  .subscribe-form {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }

  .motivation-card,
  .subscribe-card {
    width: 100%;
  }

  .motivation-content,
  .subscribe-content {
    margin: 0 auto;
  }

  .food-img {
    position: static;
    margin-top: 20px;
  }

  .food-img img {
    height: auto;
    max-height: 150px;
  }

  .subscribe-form {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .subscribe-form input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .subscribe-form input {
    width: 90%;
    margin: 0 auto 20px;
  }

  .subscribe-btn {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto 50px;
  }

  .food-img {
    position: absolute;
  }
}
