/* hyperlink css */
section div a {
  text-decoration: none;
  color: #1b1a18;
  font-weight: bold;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  color: #fe5f55;
  font-weight: bold;
}

/* bold text css */
strong {
  font-size: 20px;
}

/* paragraph css */
p {
  color: #808080;
  font-size: 15px;
  margin-right: 25px;
}

/* horizontal line css */
section div + hr {
  border: 1px solid #ccc;
  width: 90%;
  margin: 40px auto 0;
}

/* side the text  */
.recipe-txt-container {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 5px 15px 0 5px;
  gap: 25px;
}

/* recipe image */
.recipe-img {
  width: 200px;
  height: 200px;
  border-radius: 12px 0 0 12px;
}

/* image and text space */
.img-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
