/* body css */
body {
  font-family: sans-serif;
}

/* hyperlink css */
section div a {
  text-decoration: none;
  color: #1b1a18;
  font-weight: bold;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  color: #fe5f55;
  font-weight: bold;
}

/* bold text css */
strong {
  font-size: 20px;
}

/* paragraph css */
p {
  color: #808080;
  font-size: 15px;
  margin-right: 25px;
}

/* horizontal line css */
section + hr {
  border: 1px solid #ccc;
  width: 73%;
  float: right;
}

/* side the text  */
.txt-flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* recipe image */
.recipe-img {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
}

/* image and text space */
.img-txt-space {
  margin-left: 40px;
}
