/* ------------------------- Laptop large screen -------------------------  */
@media screen and (min-width: 1440px) {
  .count {
    bottom: 15px;
  }
}

/* ------------------------- Laptop small screen ------------------------- */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #email {
    width: 100%;
  }

  .count {
    bottom: 12px;
  }

  .contact-title {
    font-size: 1.7rem;
  }
}

/* ------------------------- Tablet screen ------------------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #email {
    width: 100%;
  }

  .count {
    bottom: 8px;
  }
}

/* ------------------------- Mobile large screen ------------------------- */
@media screen and (min-width: 425px) and (max-width: 768px) {
  /* homepage */
  .sub-container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-form {
    margin-bottom: 20%;
    width: 100%;
  }

  #email {
    width: 100%;
  }

  .subscribe-form button {
    width: 30%;
  }

  /* contact page */

  .txt-input {
    width: 100%;
  }

  .contact-title {
    font-size: 1.8rem;
  }

  legend {
    font-size: 1.2rem;
  }

  #privacy-policy + label {
    font-size: 0.9rem;
  }

  fieldset button {
    font-size: 0.9rem !important;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .sub-txt {
    font-size: 1rem;
  }

  /* about page */
  .recipe-content h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .first-heading {
    padding-top: 30px;
  }

  .sub-heading {
    font-size: 1.15rem;
    margin: 30px 0 20px;
  }

  .label-title {
    font-size: 1rem;
  }

  .label-txt {
    font-size: 0.95rem;
  }
}

/* ------------------------- Mobile medium screen ------------------------- */
@media screen and (min-width: 375px) and (max-width: 425px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-form {
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }

  .input-container {
    width: 80%;
  }

  #email {
    width: 100%;
    border-radius: 10px;
  }

  .subscribe-form input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .subscribe-form input {
    width: 90%;
    margin: 0 auto 20px;
  }

  .subscribe-btn {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto 50px;
  }

  /* recipe page */
  .recipe-txt-container {
    padding-top: 23px !important;
  }

  .img-txt-container a {
    font-size: 1rem;
  }

  .recipe-txt {
    font-size: 0.9rem;
  }

  .side-title,
  .recipe-search-title {
    font-size: 1.2rem;
  }

  .recipe-search-txt {
    font-size: 0.9rem;
  }

  .video-content p {
    font-size: 0.9rem;
  }

  .video-content iframe {
    width: 240px !important;
    height: auto;
  }

  /* contact page */
  .contact-title {
    font-size: 1.7rem;
  }

  legend {
    font-size: 1.2rem;
  }

  #privacy-policy {
    margin-left: 0;
  }

  #privacy-policy + label {
    font-size: 0.9rem;
  }

  fieldset button {
    font-size: 0.9rem !important;
  }

  .sub-heading {
    font-size: 1.1rem;
  }

  .sub-txt {
    font-size: 1rem;
  }

  /* about page */
  .about-title {
    font-size: 1.6rem;
  }

  .about-content p {
    font-size: 0.96rem;
  }
}

/* ------------------------- Mobile small screen ------------------------- */
@media screen and (min-width: 320px) and (max-width: 375px) {
  /* homepage */
  .card-title {
    font-size: 1.7rem;
  }

  .card-description h4 {
    font-size: 0.95rem;
  }

  .card-description h4 + p {
    font-size: 0.9rem;
  }

  .author {
    font-size: 0.7rem;
  }

  .date {
    font-size: 0.65rem;
  }

  .card-description input[type="button"] {
    font-size: 0.85rem;
  }

  .scroll-container div {
    transform: scale(0.95);
  }

  /* recipe page */
  .recipe-txt-container {
    padding-top: 20px !important;
  }

  .video-content iframe {
    width: 220px !important;
    height: auto;
  }

  /* about page */
  .about-title {
    font-size: 1.5rem;
  }

  .about-content p {
    font-size: 0.9rem;
  }

  /* recipe page */
}

/* ------------------------- Mobile extra small screen ------------------------- */
@media screen and (max-width: 320px) {
  /* homepage */
  .card-title {
    font-size: 1.5rem;
  }

  .card-description h4 {
    font-size: 0.9rem;
  }

  .card-description h4 + p {
    font-size: 0.88rem;
  }

  .author {
    font-size: 0.65rem;
  }

  .date {
    font-size: 0.6rem;
  }

  .card-description input[type="button"] {
    font-size: 0.8rem;
  }

  .scroll-container div {
    transform: scale(0.95);
  }

  /* contact page */
  .contact-title {
    font-size: 1.4rem;
  }

  .contact-description::first-letter {
    font-size: 2rem;
  }

  .contact-description {
    font-size: 0.95rem;
  }

  /* about page */
  .about-title {
    font-size: 1.4rem;
  }

  .about-content p {
    font-size: 0.8rem;
  }

  /* recipe page */
  .recipe-content h2 {
    font-size: 1.3rem;
  }

  .recipe-content .recipe-img {
    width: 80%;
  }

  .label-title {
    font-size: 0.9rem;
  }

  .label-txt {
    font-size: 0.85rem;
  }

  .sub-heading {
    font-size: 1rem;
    text-align: center;
    margin: 40px 0 20px;
  }

  .video-content iframe {
    width: 95% !important;
  }
}

/* /////////////////////////// Page responsive after the Burger menu is activated ///////////////////////////  */
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
    padding: 0 30px;
  }

  .main-container {
    flex-direction: column;
    gap: 30px;
  }

  .vertical-hr {
    height: 0;
    border: 2px solid #ccc;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto 10px;
  }

  /* homepage */
  .sub-container {
    width: 98%;
    padding: 0;
    margin: 0 auto;
  }

  .motivation-card {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .motivation-content {
    padding: 20px;
  }

  .motivation-img {
    width: 40%;
    margin-top: 0;
  }

  .motivation-card img {
    max-width: 100%;
  }

  .subscribe-content {
    width: 90%;
  }

  .subscribe-form input,
  .subscribe-btn {
    width: 45%;
  }

  .subscribe-form {
    width: 100%;
  }

  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .row {
    justify-content: flex-start;
    gap: 20px;
    transition: all 1s ease-in-out;
    width: 100%;
  }

  .count {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    position: relative;
    top: -19px !important;
    left: 15px !important;
    transition: all 1s ease-in-out;
  }

  .card {
    width: 90%;
    max-width: 600px;
    height: 80px;
    margin: 15px 0;
  }

  .card-description {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-in-out;
    width: 80%;
    transition: all 1s ease-in-out 1s;
  }

  input[type="radio"]:checked + .card {
    height: 350px;
  }

  input[type="radio"]:checked + label {
    width: 90%;
    max-width: 600px;
  }

  input[type="radio"]:checked + label .row {
    width: 100%;
  }

  input[type="radio"]:checked + label .card-description {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  /* recipe page */
  .recipe-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .side-content {
    width: calc(100% - 60px);
  }

  .side-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
  }

  .video-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
  }

  .recipe-search {
    flex-direction: row-reverse;
    width: calc(100% - 60px);
    max-width: 130vw;
  }

  .recipe-search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .recipe-search-bg-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

  .vertical-line {
    border: 2px solid #ccc;
    background-color: #ccc;
    border-radius: 5px;
    margin: 40px auto -20px;
    width: 45%;
    height: 0;
  }

  .horizontal-line {
    width: 45%;
    margin: 0 auto 40px;
  }

  /* contact page */
  .name-email-container {
    flex-direction: row;
  }

  .contact-side-content {
    width: calc(100% - 80px);
    max-width: none;
    margin: 0 auto;
  }

  .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 160px;
    height: 100px;
  }

  .social-media {
    margin-top: 0;
  }

  .sub-txt {
    margin: 0;
  }

  /* about page */
}

/* _____________ custom sizes for mobile view _____________ */
@media screen and (max-width: 768px) {
  /* about page */
  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 375px) {
  .sub-container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-form {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  #email {
    width: 100%;
    border-radius: 10px;
  }

  .subscribe-form button {
    width: 100%;
    border-radius: 10px;
  }

  /* contact page */
  .contact-title {
    font-size: 1.5rem;
  }

  fieldset {
    width: calc(100% - 40px);
  }

  legend {
    font-size: 1.1rem;
  }

  #privacy-policy {
    margin-left: 0;
  }

  #privacy-policy + label {
    font-size: 0.9rem;
  }

  fieldset button {
    font-size: 0.9rem !important;
  }

  .sub-heading {
    font-size: 1.1rem;
  }

  .sub-txt {
    font-size: 1rem;
  }

  /* about page */
  .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    width: 90%;
    min-width: 0;
    max-width: 200px;
  }

  /* recipe page */
  .recipe-content h2 {
    font-size: 1.3rem;
  }

  .recipe-content .recipe-img {
    width: 80%;
  }

  .label-title {
    font-size: 0.95rem;
  }

  .label-txt {
    font-size: 0.9rem;
  }

  .first-heading {
    padding-top: 10px;
  }

  .sub-heading {
    font-size: 1rem;
    text-align: center;
    margin: 40px 0 20px;
  }

  .description,
  .ingredient-container span,
  .recipe-content ol > li {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 500px) {
  /* recipe page */
  .img-txt-container a,
  .recipe-txt,
  .side-title,
  .recipe-search-title {
    text-align: center !important;
  }

  .img-txt-container a {
    font-size: 1.1rem;
  }

  .recipe-txt {
    font-size: 0.9rem;
  }

  .side-title,
  .recipe-search-title {
    font-size: 1.2rem;
  }

  .recipe-search {
    flex-direction: column;
  }

  .recipe-search-bg-img {
    width: 50%;
  }

  .recipe-search-txt {
    font-size: 0.9rem;
  }

  .video-content iframe {
    width: 280px;
    height: auto;
  }

  .video-content p {
    font-size: 0.9rem;
  }

  .recipe-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .step-img {
    width: 100%;
    height: 100%;
  }

  .vertical-line,
  .horizontal-line {
    width: 90%;
  }

  .side-content {
    width: 90%;
    padding: 0 5vw;
  }

  iframe {
    width: 93%;
    height: auto;
  }

  .recipe-txt-container {
    flex-direction: column;
    padding-top: 15px;
  }

  .recipe-img {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12px;
  }

  .img-txt-container {
    margin: 0 4vw 3vh;
  }

  /* contact page */
  .name-email-container {
    flex-direction: column;
    gap: 0;
  }

  /* recipe page */
  .recipe-content h2 {
    text-align: center;
  }

  .first-heading::before {
    content: "";
    display: flex;
    width: 80%;
    height: 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 0 auto 20px;
  }

  .video-container .video-content {
    margin-top: 0;
  }

  .side-title {
    padding: 30px 0;
  }
}
